.riverclub-house3-item-1 {
  width: 558px !important;
  height: 410px;

  background-image: url("./../../img/riverclub-house3/pic-01.png");
  @include mediaBg() {
    background-image: url("./../../img/riverclub-house3/pic-01@2x.png");
  }

  @include tablet {
    width: 772px !important;
    height: 594px;
  }

  @include mobile {
    width: 380px !important;
    height: 285px;
  }
  @include mobile-serpuxov-xs {
    width: 300px !important;
    height: 231px;
  }

}
.riverclub-house3-item-2 {
  width: 558px !important;
  height: 410px;
  background-image: url("./../../img/riverclub-house3/pic-02.png");
  @include mediaBg() {
    background-image: url("./../../img/riverclub-house3/pic-02@2x.png");
  }

  @include tablet {
    width: 772px !important;
    height: 594px;
  }

  @include mobile {
    width: 380px !important;
    height: 285px;
  }

  @include mobile-serpuxov-xs {
    width: 300px !important;
    height: 231px;
  }
}
.riverclub-house3-item-3 {
  height: 365px;
  background-image: url("./../../img/riverclub-house3/pic-03.png");
  @include mediaBg() {
    background-image: url("./../../img/riverclub-house3/pic-03@2x.png");
  }

  @include tablet {
    width: 772px !important;
    height: 243px;
  }
  @include mobile {
    width: 380px !important;
    height: 116px;
  }
  @include mobile-serpuxov-xs {
    width: 300px !important;
    height: 231px;
  }
}
.riverclub-house3-item-4 {
  height: 388px;
  background-image: url("./../../img/riverclub-house3/pic-04.png");
  @include mediaBg() {
    background-image: url("./../../img/riverclub-house3/pic-04@2x.png");
  }

  @include tablet {
    width: 772px !important;
    height: 259px;
  }

  @include mobile {
    width: 380px !important;
    height: 126px;
  }
  @include mobile-serpuxov-xs {
    width: 300px !important;
    height: 231px;
  }
}
.riverclub-house3-item-5 {
  height: 398px;
  background-image: url("./../../img/riverclub-house3/pic-05.png");
  @include mediaBg() {
    background-image: url("./../../img/riverclub-house3/pic-05@2x.png");
  }

  @include tablet {
    width: 772px !important;
    height: 259px;
  }

  @include mobile {
    width: 380px !important;
    height: 126px;
  }
  @include mobile-serpuxov-xs {
    width: 300px !important;
    height: 231px;
  }
}
.riverclub-house3-item-6 {
  height: 505px;
  background-image: url("./../../img/riverclub-house3/pic-06.png");
  @include mediaBg() {
    background-image: url("./../../img/riverclub-house3/pic-06@2x.png");
  }

  @include tablet {
    width: 772px !important;
    height: 336px;
  }

  @include mobile {
    width: 380px !important;
    height: 164px;
  }

  @include mobile-serpuxov-xs {
    width: 300px !important;
    height: 231px;
  }
}
.riverclub-house3-item-7 {
  height: 991px;
  background-image: url("./../../img/riverclub-house3/pic-07.png");
  @include mediaBg() {
    background-image: url("./../../img/riverclub-house3/pic-07@2x.png");
  }

  @include tablet {
    width: 772px !important;
    height: 594px;
  }

  @include mobile {
    width: 380px !important;
    height: 285px;
  }

  @include mobile-serpuxov-xs {
    width: 300px !important;
    height: 231px;
  }
}
.riverclub-house3-item-8 {
  height: 991px;
  background-image: url("./../../img/riverclub-house3/pic-08.png");
  @include mediaBg() {
    background-image: url("./../../img/riverclub-house3/pic-08@2x.png");
  }

  @include tablet {
    width: 772px !important;
    height: 594px;
  }

  @include mobile {
    width: 380px !important;
    height: 285px;
  }

  @include mobile-serpuxov-xs {
    width: 300px !important;
    height: 231px;
  }
}
.riverclub-house3-item-9 {
  height: 991px;
  background-image: url("./../../img/riverclub-house3/pic-09.png");
  @include mediaBg() {
    background-image: url("./../../img/riverclub-house3/pic-09@2x.png");
  }

  @include tablet {
    width: 772px !important;
    height: 594px;
  }

  @include mobile {
    width: 380px !important;
    height: 285px;
  }

  @include mobile-serpuxov-xs {
    width: 300px !important;
    height: 231px;
  }
}
.riverclub-house3-item-10 {
  height: 991px;
  background-image: url("./../../img/riverclub-house3/pic-10.png");
  @include mediaBg() {
    background-image: url("./../../img/riverclub-house3/pic-10@2x.png");
  }

  @include tablet {
    width: 772px !important;
    height: 594px;
  }

  @include mobile {
    width: 380px !important;
    height: 285px;
  }

  @include mobile-serpuxov-xs {
    width: 300px !important;
    height: 231px;
  }
}
