.bitva-robotov-item-1 {
  max-width: 575px;
  height: 695px;

  background-image: url("./../../img/bitva-robotov/pic-01.png");
  @include mediaBg() {
    background-image: url("./../../img/bitva-robotov/pic-01@2x.png");
  }

  @include tablet {
    width: 378px !important;
    height: 511px;
  }
  @include mobile {
    width: 184px !important;
    height: 249px;
  }
  @include mobile-serpuxov-xs {
    width: 150px !important;
    height: 186px;
  }

}

.bitva-robotov-item-2 {
  max-width: 575px;
  height: 695px;

  background-image: url("./../../img/bitva-robotov/pic-02.png");
  @include mediaBg() {
    background-image: url("./../../img/bitva-robotov/pic-02@2x.png");
  }

  @include tablet {
    width: 378px !important;
    height: 511px;
  }
  @include mobile {
    width: 184px !important;
    height: 249px;
  }
  @include mobile-serpuxov-xs {
    width: 150px !important;
    height: 186px;
  }

}

.bitva-robotov-item-3 {
  max-width: 1160px;
  height: 870px;

  background-image: url("./../../img/bitva-robotov/pic-03.png");
  @include mediaBg() {
    background-image: url("./../../img/bitva-robotov/pic-03@2x.png");
  }

  @include tablet {
    width: 768px !important;
    height: 569px;
  }

  @include mobile {
    width: 372px !important;
    height: 285px;
  }

  @include mobile-serpuxov-xs {
    width: 304px !important;
    height: 231px;
  }

}

.bitva-robotov-item-4 {
  max-width: 1160px;
  height: 695px;

  background-image: url("./../../img/bitva-robotov/pic-04.png");
  @include mediaBg() {
    background-image: url("./../../img/bitva-robotov/pic-04@2x.png");
  }

  @include tablet {
    width: 768px !important;
    height: 569px;
  }

  @include mobile {
    width: 372px !important;
    height: 285px;
  }

  @include mobile-serpuxov-xs {
    width: 304px !important;
    height: 231px;
  }
}


.bitva-robotov-item-5 {
  max-width: 1160px !important;
  height: 892px;

  background-image: url("./../../img/bitva-robotov/pic-05.png");
  @include mediaBg() {
    background-image: url("./../../img/bitva-robotov/pic-05@2x.png");
  }

  @include tablet {
    width: 768px !important;
    height: 569px;
  }

  @include mobile {
    width: 372px !important;
    height: 285px;
  }

  @include mobile-serpuxov-xs {
    width: 304px !important;
    height: 231px;
  }

}

