
.belgrad-guests-row-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 34px;

  @include tablet {
    align-items: center;

    & > .belgrad-guests-main-row:nth-child(1) {
      order: -2;
    }

    & > .belgrad-guests-main-row:nth-child(4) {
      order: -1;
    }
  }
}

.belgrad-guests-main-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;

  @include tablet {
    column-gap: 13px;
  }
}

.belgrad-guests-bg-image-handler {
  width: 100%;
  background-position: center center; /* x y */
  background-size: cover;
  background-repeat: no-repeat;
}