.tumen-filarmonia-item-1 {
  height: 894px;

  background-image: url("./../../img/tumen-filarmonia/pic-01.png");
  @include mediaBg() {
    background-image: url("./../../img/tumen-filarmonia/pic-01@2x.png");
  }

  @include tablet {
    width: 768px !important;
    height: 569px;
  }

  @include mobile {
    width: 378px !important;
    height: 285px;
  }
  @include mobile-serpuxov-xs {
    width: 313px !important;
    height: 231px;
  }
}
.tumen-filarmonia-item-2 {
  height: 894px;

  background-image: url("./../../img/tumen-filarmonia/pic-02.png");
  @include mediaBg() {
    background-image: url("./../../img/tumen-filarmonia/pic-02@2x.png");
  }

  @include tablet {
    width: 768px !important;
    height: 569px;
  }

  @include mobile {
    width: 378px !important;
    height: 285px;
  }

  @include mobile-serpuxov-xs {
    width: 313px !important;
    height: 231px;
  }
}
.tumen-filarmonia-item-3 {
  height: 894px;

  background-image: url("./../../img/tumen-filarmonia/pic-03.png");
  @include mediaBg() {
    background-image: url("./../../img/tumen-filarmonia/pic-03@2x.png");
  }

  @include tablet {
    width: 768px !important;
    height: 569px;
  }
  @include mobile {
    width: 378px !important;
    height: 285px;
  }
  @include mobile-serpuxov-xs {
    width: 313px !important;
    height: 231px;
  }

}
.tumen-filarmonia-item-4 {
  width: 516px !important;
  height: 494px;

  background-image: url("./../../img/tumen-filarmonia/pic-04.png");
  @include mediaBg() {
    background-image: url("./../../img/tumen-filarmonia/pic-04@2x.png");
  }

  @include tablet {
    width: 378px !important;
    height: 511px;
  }

  @include mobile {
    width: 184px !important;
    height: 249px;
  }

  @include mobile-serpuxov-xs {
    width: 150px !important;
    height: 186px;
  }
}
.tumen-filarmonia-item-5 {
  width: 516px !important;
  height: 561px;

  background-image: url("./../../img/tumen-filarmonia/pic-05.png");
  @include mediaBg() {
    background-image: url("./../../img/tumen-filarmonia/pic-05@2x.png");
  }

  @include tablet {
    width: 378px !important;
    height: 511px;
  }

  @include mobile {
    width: 184px !important;
    height: 249px;
  }

  @include mobile-serpuxov-xs {
    width: 150px !important;
    height: 186px;
  }

}
.tumen-filarmonia-item-6 {
  width: 656px !important;
  height: 1066px;

  background-image: url("./../../img/tumen-filarmonia/pic-06.png");
  @include mediaBg() {
    background-image: url("./../../img/tumen-filarmonia/pic-06@2x.png");
  }

  @include tablet {
    display: none;
  }

  @include mobile {
    width: 184px !important;
    height: 249px;
  }

  @include mobile-serpuxov-xs {
    width: 150px !important;
    height: 186px;
  }
}
.tumen-filarmonia-item-7 {
  height: 894px;

  background-image: url("./../../img/tumen-filarmonia/pic-07.png");
  @include mediaBg() {
    background-image: url("./../../img/tumen-filarmonia/pic-07@2x.png");
  }

  @include tablet {
    width: 768px !important;
    height: 569px;
  }

  @include mobile {
    width: 378px !important;
    height: 285px;
  }

  @include mobile-serpuxov-xs {
    width: 313px !important;
    height: 231px;
  }
}
.tumen-filarmonia-item-8 {
  height: 894px;
  background-image: url("./../../img/tumen-filarmonia/pic-08.png");
  @include mediaBg() {
    background-image: url("./../../img/tumen-filarmonia/pic-08@2x.png");
  }

  @include tablet {
    width: 768px !important;
    height: 569px;
  }

  @include mobile {
    width: 378px !important;
    height: 285px;
  }
  @include mobile-serpuxov-xs {
    width: 313px !important;
    height: 231px;
  }
}
