.none {
	display: none !important;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.no-scroll {
	overflow-y: hidden;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

.d-flex {
	display: flex;
}

.flex-center {
	justify-content: center;
}

.justify-flex-end {
	justify-content: flex-end;
}

.justify-flex-start {
	justify-content: flex-start;
}

.align-center-items {
	align-items: center;
}

.w-fit {
	width: fit-content !important;
}

.fl-row {
	flex-direction: row !important;
}

.mt-18 {
	margin-top: 18px;
}

.bg-beige {
	background-color: #faf5ee !important;
	// background-color: powderblue !important;
}

.p-0 {
	padding: 0 !important;
}