:root {
  --container-width: 1215px;
  --container-padding: 15px;

  --font-main: Montserrat;
	--second-family: LTRemark;
	--third-family: Inter;
	--font-accent: Mr De Haviland;

  --page-bg: #fff;
  --text-color: #000;
  --accent: #ac182c;
  --link-color: #262626;

  --laptop-size: 1199px;
  --tablet-size: 959px;
  --mobile-size: 599px;
}

.dark {
  --page-bg: #252526;
  --text-color: #fff;
}
