.stadion-iskra-item-1 {
  height: 770px;

  background-image: url("./../../img/stadion-iskra/pic-01.png");
  @include mediaBg() {
    background-image: url("./../../img/stadion-iskra/pic-01@2x.png");
  }

  @include tablet {
    width: 768px !important;
    height: 569px;
  }

  @include mobile {
    width: 370px !important;
    height: 285px;
  }

  @include mobile-serpuxov-xs {
    width: 313px !important;
    height: 231px;
  }

}
.stadion-iskra-item-2 {
  height: 770px;

  background-image: url("./../../img/stadion-iskra/pic-02.png");
  @include mediaBg() {
    background-image: url("./../../img/stadion-iskra/pic-02@2x.png");
  }

  @include tablet {
    width: 768px !important;
    height: 569px;
  }

  @include mobile {
    width: 370px !important;
    height: 285px;
  }

  @include mobile-serpuxov-xs {
    width: 313px !important;
    height: 231px;
  }
}
.stadion-iskra-item-3 {
  height: 770px;

  background-image: url("./../../img/stadion-iskra/pic-03.png");
  @include mediaBg() {
    background-image: url("./../../img/stadion-iskra/pic-03@2x.png");
  }

  @include tablet {
    width: 768px !important;
    height: 569px;
  }

  @include mobile {
    width: 370px !important;
    height: 285px;
  }

  @include mobile-serpuxov-xs {
    width: 313px !important;
    height: 231px;
  }

}

.stadion-iskra-item-4 {
  height: 770px;

  background-image: url("./../../img/stadion-iskra/pic-04.png");
  @include mediaBg() {
    background-image: url("./../../img/stadion-iskra/pic-04@2x.png");
  }

  @include tablet {
    width: 768px !important;
    height: 569px;
  }

  @include mobile {
    width: 370px !important;
    height: 285px;
  }

  @include mobile-serpuxov-xs {
    width: 313px !important;
    height: 231px;
  }

}
.stadion-iskra-item-5 {
  height: 770px;

  background-image: url("./../../img/stadion-iskra/pic-05.png");
  @include mediaBg() {
    background-image: url("./../../img/stadion-iskra/pic-05@2x.png");
  }

  @include tablet {
    width: 768px !important;
    height: 569px;
  }

  @include mobile {
    width: 370px !important;
    height: 285px;
  }

  @include mobile-serpuxov-xs {
    width: 313px !important;
    height: 231px;
  }
}
.stadion-iskra-item-6 {
  height: 770px;

  background-image: url("./../../img/stadion-iskra/pic-06.png");
  @include mediaBg() {
    background-image: url("./../../img/stadion-iskra/pic-06@2x.png");
  }

  @include tablet {
    width: 768px !important;
    height: 569px;
  }

  @include mobile {
    width: 370px !important;
    height: 285px;
  }

  @include mobile-serpuxov-xs {
    width: 313px !important;
    height: 231px;
  }

}

.stadion-iskra-item-7 {
  height: 770px;

  background-image: url("./../../img/stadion-iskra/pic-07.png");
  @include mediaBg() {
    background-image: url("./../../img/stadion-iskra/pic-07@2x.png");
  }

  @include tablet {
    width: 768px !important;
    height: 569px;
  }

  @include mobile {
    width: 370px !important;
    height: 285px;
  }

  @include mobile-serpuxov-xs {
    width: 313px !important;
    height: 231px;
  }

}
.stadion-iskra-item-8 {
  height: 770px;

  background-image: url("./../../img/stadion-iskra/pic-08.png");
  @include mediaBg() {
    background-image: url("./../../img/stadion-iskra/pic-08@2x.png");
  }

  @include tablet {
    width: 768px !important;
    height: 569px;
  }

  @include mobile {
    width: 370px !important;
    height: 285px;
  }

  @include mobile-serpuxov-xs {
    width: 313px !important;
    height: 231px;
  }
}
