.portfolio-long-item-1 {
  background-image: url('./../../img/portfolio/short/pic-01.png');
  @include mediaBg() {
    background-image: url('./../../img/portfolio/short/pic-01@2x.png');
  }
}
.portfolio-long-item-2 {
  background-image: url('./../../img/portfolio/short/pic-02.png');
  @include mediaBg() {
    background-image: url('./../../img/portfolio/short/pic-02@2x.png');
  }
}
.portfolio-long-item-3 {
  background-image: url('./../../img/portfolio/short/pic-03.png');
  @include mediaBg() {
    background-image: url('./../../img/portfolio/short/pic-03@2x.png');
  }
}
.portfolio-long-item-4 {
  background-image: url('./../../img/portfolio/short/pic-04.png');
  @include mediaBg() {
    background-image: url('./../../img/portfolio/short/pic-04@2x.png');
  }
}
.portfolio-long-item-5 {
  background-image: url('./../../img/portfolio/short/pic-05.png');
  @include mediaBg() {
    background-image: url('./../../img/portfolio/short/pic-05@2x.png');
  }
}
.portfolio-long-item-6 {
  background-image: url('./../../img/portfolio/short/pic-06.png');
  @include mediaBg() {
    background-image: url('./../../img/portfolio/short/pic-06@2x.png');
  }
}
.portfolio-long-item-7 {
  background-image: url('./../../img/portfolio/short/pic-07.png');
  @include mediaBg() {
    background-image: url('./../../img/portfolio/short/pic-07@2x.png');
  }
}
.portfolio-long-item-8 {
  background-image: url('./../../img/portfolio/short/pic-08.png');
  @include mediaBg() {
    background-image: url('./../../img/portfolio/short/pic-08@2x.png');
  }
}
.portfolio-long-item-9 {
  background-image: url('./../../img/portfolio/short/pic-09.png');
  @include mediaBg() {
    background-image: url('./../../img/portfolio/short/pic-09@2x.png');
  }
}
.portfolio-long-item-10 {
  background-image: url('./../../img/portfolio/short/pic-10.png');
  @include mediaBg() {
    background-image: url('./../../img/portfolio/short/pic-10@2x.png');
  }
}
.portfolio-long-item-11 {
  background-image: url('./../../img/portfolio/short/pic-11.png');
  @include mediaBg() {
    background-image: url('./../../img/portfolio/short/pic-11@2x.png');
  }
}
.portfolio-long-item-12 {
  background-image: url('./../../img/portfolio/short/pic-12.png');
  @include mediaBg() {
    background-image: url('./../../img/portfolio/short/pic-12@2x.png');
  }
}
.portfolio-long-item-13 {
  background-image: url('./../../img/portfolio/short/pic-13.png');
  @include mediaBg() {
    background-image: url('./../../img/portfolio/short/pic-13@2x.png');
  }
}
.portfolio-long-item-14 {
  background-image: url('./../../img/portfolio/short/pic-14.png');
  @include mediaBg() {
    background-image: url('./../../img/portfolio/short/pic-14@2x.png');
  }
}
.portfolio-long-item-15 {
  background-image: url('./../../img/portfolio/short/pic-15.png');
  @include mediaBg() {
    background-image: url('./../../img/portfolio/short/pic-15@2x.png');
  }
}


.portfolio-short-item-1 {
  background-image: url('./../../img/portfolio/long/pic-01.png');
  @include mediaBg() {
    background-image: url('./../../img/portfolio/long/pic-01@2x.png');
  }
}
.portfolio-short-item-2 {
  background-image: url('./../../img/portfolio/long/pic-02.png');
  @include mediaBg() {
    background-image: url('./../../img/portfolio/long/pic-02@2x.png');
  }
}
.portfolio-short-item-3 {
  background-image: url('./../../img/portfolio/long/pic-03.png');
  @include mediaBg() {
    background-image: url('./../../img/portfolio/long/pic-03@2x.png');
  }
}
.portfolio-short-item-4 {
  background-image: url('./../../img/portfolio/long/pic-04.png');
  @include mediaBg() {
    background-image: url('./../../img/portfolio/long/pic-04@2x.png');
  }
}
.portfolio-short-item-5 {
  background-image: url('./../../img/portfolio/long/pic-05.png');
  @include mediaBg() {
    background-image: url('./../../img/portfolio/long/pic-05@2x.png');
  }
}
.portfolio-short-item-6 {
  background-image: url('./../../img/portfolio/long/pic-06.png');
  @include mediaBg() {
    background-image: url('./../../img/portfolio/long/pic-06@2x.png');
  }
}
.portfolio-short-item-7 {
  background-image: url('./../../img/portfolio/long/pic-07.png');
  @include mediaBg() {
    background-image: url('./../../img/portfolio/long/pic-07@2x.png');
  }
}
.portfolio-short-item-8 {
  background-image: url('./../../img/portfolio/long/pic-08.png');
  @include mediaBg() {
    background-image: url('./../../img/portfolio/long/pic-08@2x.png');
  }
}