.footer {
	background: var(--korichnevyy);
	padding: 0;
  color: #fff;
	position: relative;

	&__form{
		position: absolute;
		top: 138px;
		left: 50%;
		transform: translate(-50%);
		padding: 168px 98px 111px;
    margin-right: auto;
    margin-left: auto;
    width: 760px;
		background-color: #fff;

		@include tablet {
			width: 628px;
			padding: 104px 70px 116px;
		}

		@include mobile {
			background-color: transparent;
			padding-left: 10px;
			padding-right: 10px;
			padding-top: 325px;
			width: 100%;
		}

		@include mobile-xs {
			padding-top: 285px;
		}
	}

	a {
		color: #fff;
		text-decoration: none;
	}

	@media (max-width: 1200px) {
		font-size: 26px;
	}
}

.footer-content {
	padding-top: 163px;
	padding-bottom: 158px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	row-gap: 75px;

	@include tablet {
		padding-top: 80px;
		padding-bottom: 80px;
	}

	@include mobile {
		column-gap: 68px;
		row-gap: 28px;
		padding-top: 60px;
		padding-bottom: 40px;
		position: relative;
	}

	&__col:last-child {
		@include mobile {
			width: 100%;
		}
	}

	&__col:nth-child(3) {
		@include tablet {
			order: 1;
			width: 100%;
			flex-direction: row;
			justify-content: space-between;
		}

		@include mobile {
			order: 0;
			flex-direction: column;
		}
	}

	&__col:nth-child(3) > &__link:nth-child(2) {
		@include tablet {
			display: none;
		}

		@include mobile {
			display: block;
		}
	}

	&__col:nth-child(3) > &__link:nth-child(1) {
		display: flex;
		flex-direction: column;
		row-gap: 8px;
	}

	&__col:nth-child(3) > &__link:nth-child(2) {
		position: relative;
		transform: translateY(-32px);

		@include mobile {
			transform: translate(0);
		}
	}

	&__col:nth-child(3) > &__logo:nth-child(3) {
		position: relative;
		transform: translateY(-32px);

		@include tablet {
			transform: translate(0);
			order: -1;
		}

		@include mobile {
			display: none;
		}
	}

	&__col {
    display: flex;
    flex-direction: column;
		row-gap: 58px;

		@include mobile {
			row-gap: 28px;
		}
	}

	&__link {
		font-family: var(--font-main);
		font-weight: 400;
		font-size: 20px;
		color: #fff;

		@include tablet {
			font-size: 18px;
			line-height: 125%;
		}

		@include mobile {
			font-size: 14px;
			line-height: 122%;
		}
	}

	&__logo {
		max-width: fit-content;
		font-family: var(--second-family);
		font-weight: 700;
		font-size: 24px;
		line-height: 125%;
		color: #fff;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__logo::after {
		content: 'Architects  &  Interior design';
		display: block;
		font-family: var(--second-family);
		font-weight: 400;
		font-size: 16px;
		line-height: 125%;
		color: #fff;
		margin-top: 10px;
	}
}

.bg-footer {
	height: 552px;
	width: 100%;
	background-color: #999;
	background-position: center center; /* x y */
	background-size: cover;
	background-repeat: no-repeat;
}

.footer-image-1 {
	background-image: url('./../../img/footer-bg/bg-footer-01.png');
	@include mediaBg() {
		background-image: url('./../../img/footer-bg/bg-footer-01@2x.png');
	}
}

.footer-image-2 {
	background-image: url('../../img/pages-work-steps/footer-bg.png');
	@include mediaBg() {
		background-image: url('../../img/pages-work-steps/footer-bg@2x.png');
	}

	@include tablet {
		height: 374px;
	}

	@include mobile {
		height: 305px;
		position: relative;
	}
}