.footer {
	background: var(--korichnevyy);
	padding: 0;
  color: #fff;

	a {
		color: #fff;
		text-decoration: none;
	}

	@media (max-width: 1200px) {
		font-size: 26px;
	}
}

.footer-content {
	margin: 460px auto 210px;
	display: flex;
	justify-content: space-between;

	&__col {
    display: flex;
    flex-direction: column;
		row-gap: 58px;
	}

	&__link {
		display: block;
		font-family: var(--font-main);
		font-weight: 400;
		font-size: 20px;
		line-height: 125%;
		color: #fff;
	}

	&__logo {
		max-width: fit-content;
		font-family: var(--second-family);
		font-weight: 700;
		font-size: 24px;
		line-height: 125%;
		color: #fff;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__logo::after {
		content: 'Architects  &  Interior design';
		display: block;
		font-family: var(--second-family);
		font-weight: 400;
		font-size: 16px;
		line-height: 125%;
		color: #fff;
		margin-top: 10px;
	}

	&__social-icons {
		display: flex;
		align-items: center;
		column-gap: 16px;
	}
}

.bg-footer {
	height: 552px;
	width: 100%;
	background-color: #999;
	background-position: center center; /* x y */
	background-size: cover;
	background-repeat: no-repeat;
}

.footer-image-1 {
	background-image: url('./../../img/footer-bg/bg-footer-01.png');
	@include mediaBg() {
		background-image: url('./../../img/footer-bg/bg-footer-01@2x.png');
	}
}
