.hero-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  row-gap: 40px;
  padding-bottom: 72px;
  background-color: #999;
  background-image: url('./../../img/hero-bg.jpg');
	@include mediaBg() {
		background-image: url('./../../img/hero-bg@2x.jpg');
	}
  background-position: center center; /* x y */
  background-size: cover;
  background-repeat: no-repeat;
  
  min-height: calc(100vh - 141.26px);

  @include tablet {
    background-image: url('./../../img/hero-bg-tablet-new.jpg') !important;
    @include mediaBg() {
      background-image: url('./../../img/hero-bg-tablet-new@2x.jpg') !important;
    }
  }

  @include mobile {
    row-gap: 30px;

    background-image: url('./../../img/hero-bg-tablet-new.jpg') !important;
    @include mediaBg() {
      background-image: url('./../../img/hero-bg-tablet-new@2x.jpg') !important;
    }
  }


  color: #fff;
  font-weight: 400;
  text-align: center;

  &__title {
    font-family: var(--second-family);
    font-size: 3.75em;
    line-height: 67px;
    max-width: 1000px;


    @include tablet {
      max-width: 500px;
      font-size: 40px;
      line-height: 122%;
    }

    @include mobile {
      font-size: 30px;
    }

    @include mobile-xs {
      font-size: 24px;
    }
  }

  &__subtitle {
    font-family: var(--font-main);
    font-size: 1.25em;
    line-height: 1.9;

    @include tablet {
      font-size: 16px;
    }

    @include mobile-xs {
      font-size: 12px;
    }
  }

}