.header {
  padding: 44px 0 28px;

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--second-family);
    column-gap: 9.375em;
  }

  &__left-items {
    display: flex;
    align-items: center;
  }

  &__right-items {
    display: flex;
    align-items: center;
    column-gap: 1.5em;
    justify-content: space-between;
    flex: 1;
  }

  &__nav-link {
    font-family: var(--font-main);
    font-weight: 400;
    font-size: 1.25em;
    line-height: 125%;
  }

}

.header__right-items {
  @include mobile {
    display: none;
  }
}
