.icons-wrapper {
	padding: 30px 0;
	display: flex;
	column-gap: 30px;
}

.icon {
	fill: transparent;
	stroke: transparent;
	width: 49px;
	height: 49px;
}

.icon--phone-btn {
	fill: #505050;
}

.icon--chat-btn {
	fill: #262626;
}

.icon--tg {
	fill: #fff;

	@include tablet {
		width: 37px;
		height: 37px;
	}
}

.icon--vk {
	fill: #fff;

	@include tablet {
		width: 37px;
		height: 37px;
	}
}

.icon--inst {
	fill: #fff;

	@include tablet {
		width: 37px;
		height: 37px;
	}
}

.icon--wt {
	fill: #fff;

	@include tablet {
		width: 37px;
		height: 37px;
	}
}

.icon--pinterest {
	fill: #fff;

	@include tablet {
		width: 37px;
		height: 37px;
	}
}

.icon--youtube {
	fill: #262626;

	@include tablet {
		width: 37px;
		height: 37px;
	}
}

.icon--right-arrow {
	fill: #fff;
}

.icon--prev {
	fill: #fff;
}

.icon--next {
	fill: #fff;
}

.icon--long-arrow-right {
	fill: #fff;
	width: 261px;
	align-self: flex-end;
}

.icon--user {
	stroke: rgb(26, 134, 235);
	transition: all 0.2s ease-in;

	&:hover {
		stroke: rgb(17, 193, 90);
	}
}