.logo {
  // font-size: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 1.875em;
  line-height: 261%;


  // img {
  //     margin: 0 2em;

  //     @include mobile {
  //         width: 70px;
  //         margin: 0 1.125em;
  //     }
  // }

  &__title {
    color: var(--link-color);
    font-weight: 700;
    font-size: 1.75em;

    @include mobile {
      font-size: 0.875em;
    }
  }

  &__subtitle {
    color: var(--link-color);
    font-weight: 400;
    font-size: 1.375em;
    line-height: 125%;

    @include mobile {
      font-size: 0.688em;
    }
  }



}
