.main-working-us {
  margin-top: 180px;

  &__title {
    margin: 0 110px;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 60px;
    line-height: 122%;
    text-align: center;
    text-transform: uppercase;
    color: #463E38;

    @include tablet {
      font-size: 44px;
    }

    @include mobile {
      overflow-x: hidden;
      margin: 0 auto;
      font-size: 30px;
    }

    @include mobile-xs {
      font-size: 26px;
    }
  }

  &__title-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
  }

  &__title-wrapper::before {
    content: "";
    display: block;
    border: 1px solid #463e38;
    width: 346px;

    @include tablet {
      width: 90px;
    }

    @include mobile {
      width: 60px;
    }
  }
  
  &__title-wrapper::after {
    content: "";
    display: block;
    border: 1px solid #463e38;
    width: 346px;

    @include tablet {
      width: 90px;
    }

    @include mobile {
      width: 60px;
    }
  }

  &__title > span {
    position: relative;
    z-index: 1;
  }

  &__title > span::after {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    z-index: -1;
    bottom: 0;
    width: 652px;
    height: 47px;
    background-color: #faf5ee;

    @include tablet {
      width: 476px;
      height: 30px;
    }
  }

  &__blocks-holder {
    display: flex;
    justify-content: space-between;
    margin-bottom: 183px;
    
    @include tablet {
      justify-content: center;
      background-color: var(--bezhevyy);
    }
  }
}

.working-left {
  width: 560px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  
  @include tablet {
    display: none;
  }
}

.working-right {
  width: 380px;
  display: flex;
  flex-direction: column;
  row-gap: 69px;

  @include tablet {
    background-color: var(--bezhevyy);
    padding-bottom: 80px;
    row-gap: 90px;
  }

  &__item {
    width: 63px;
    height: 71px;
    position: relative;
    background-color: #faf5ee;
  }

  &__item-number {
    position: absolute;
    top: -20px;
    left: -22px;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 44px;
    color: var(--numbers);

    @include mobile {
      left: -10px;
    }
  }

  &__item-text {
    position: absolute;
    width: max-content;
    left: 36px;
    bottom: -34px;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 30px;
    color: var(--korichnevyy);

    @include mobile {
      font-size: 22px;
    }
  }
}


