.mobile-nav {

  display: none;
  transition: all 0.2s ease-in;

  @include tablet {
    position: fixed;
    // top: 0;
    top: -150%;
    width: 100%;
    height: 100%;
    z-index: 99;
    font-family: ProximaNova;
    background: #fff;
    padding: 84px;
  }
  
	@include mobile {
		padding: 68px 18px;
	}

  &__container {
    max-width: 552px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    row-gap: 2.25em;

    @include mobile {
      row-gap: 1.5em;
    }
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    column-gap: 2.25em;

    @include mobile {
      flex-direction: column;
      row-gap: 24px;
    }
  }

  &__col {
    width: 258px;
  }

  &__row-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: #262626;
    margin-bottom: 12px;
  }

  &__list-item {
    font-family: var(--font-main);
    font-weight: 400;
    font-size: 20px;
    line-height: 125%;
    color: var(--korichnevyy);

    & .active {
      opacity: 0.5;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 46px;
    text-align: center;

    @include mobile {
      text-align: left;
    }
  }

  &__phone {
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    color: #262626;
  }
}

.social-icons__container {
  column-gap: 1.5em;

  a {
    display: flex;
    align-items: center;
  }
}

.fix-row-gap {
  @include mobile {
    row-gap: 8px !important;
  }
}

.mt-18 {
  @include mobile {
    margin-top: 4px !important;
  }
}

.mobile-nav--open {
  top: 0;

  @include mobile {
    overflow-y: scroll;
  }
}
