.swiper-slide {
	// width: 262px !important;

	@include mobile {
		width: 100% !important;
	}
}

.swiper-pagination {
	// position: absolute !important;
	position: static !important;
	display: flex;
	align-items: center;
	gap: 8px;
  // bottom: 10%;
  // left: 20%;
	// z-index: 1;
}

.absolute-slider-info {
	position: absolute;
	left: 10%;
	bottom: 40px;
	display: flex;
	flex-direction: column;
	row-gap: 30px;
	z-index: 4;

	@include mobile {
		row-gap: 18px;
		bottom: 16px;
	}
}

.swiper-pagination-bullet {
	// flex-shrink: 0;

	cursor: pointer;

	display: flex;
	justify-content: center;
	align-items: center;

	width: 16px;
	height: 16px;
	border-radius: 50%;

	border: 1px solid #fff;

	transition: all 0.2s ease-in;

	&::before {
		content: '';
		display: block;
		// width: 8px;
		// height: 8px;
		// border-radius: 50%;
		// background-color: #fff;
		transition: all 0.2s ease-in;
	}

	@include mobile {
		width: 12px;
		height: 12px;
	}
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
	width: 16px;
	height: 16px;
	background-color: #fff;

	@include mobile {
		width: 12px;
		height: 12px;
	}

	&::before {
		background-color: #fff;
	}
}

.swiper-pagination-bullets-dynamic {
	overflow: hidden;
}

.swiper-button-next {

}

.swiper-button-prev {

}