.opinion-block {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  height: 256px;
  margin-top: 44px;
  margin-bottom: 111px;
  padding-bottom: 31px;

  @include tablet {
    justify-content: flex-start;
  }

  &__img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
  }

  &__title {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 40px;
    text-align: center;
    font-family: var(--font-main);
    font-weight: 400;
    font-size: 20px;
    line-height: 125%;
    color: var(--korichnevyy);

    @include tablet {
      width: 100%;
      justify-content: space-between;
    }

    @include mobile {
      text-align: center;
      justify-content: center;
      font-size: 14px;
    }

    &::before {
      content: '';
      display: block;
      border: 1px solid var(--korichnevyy);
      width: 360px;
      height: 0px;

      @include tablet {
        width: 72px;
      }

      @include mobile {
        display: none
      }
    }
  
    &::after {
      content: '';
      display: block;
      border: 1px solid var(--korichnevyy);
      width: 360px;
      height: 0px;

      @include tablet {
        width: 72px;
      }

      @include mobile {
        display: none
      }
    }
  }
}

.how-we-work {
  position: relative;
  margin-bottom: 150px;

  @include mobile {
    background: var(--bezhevyy);
    padding-bottom: 60px;
  }

  &__button {
    display: flex;
    position: absolute;
    left: 50%;
    bottom: -38px;
    transform: translate(-50%);
  }

  &__top-row {
    position: relative;
    height: 242px;

    @include tablet {
      padding-left: 300px;
      justify-content: flex-start !important;
    }

    @include mobile {
      // justify-content: space-between !important;
      padding-left: 0;
      height: 100%;
      align-items: center;
      padding-top: 20px;
    }
  }

  &__bottom-row {
    position: relative;
    height: 368px;

    @include tablet {
      padding-right: 220px;
      justify-content: flex-end !important;
    }

    @include mobile {
      // justify-content: space-between !important;
      padding-right: 0;
      align-items: center;
    }
  }

  &__text {
    font-family: var(--font-main);
    font-weight: 400;
    font-size: 20px;
    line-height: 125%;
    color: var(--korichnevyy);
    max-width: 500px;

    @include tablet {
      max-width: 560px;
    }

    @include mobile {
      max-width: 170px;
      font-size: 13px;
    }
  }

  &__image-wrapper {
    width: 560px;
    display: flex;
    justify-content: space-between;
    position: absolute;

    @include mobile {
      position: static;
      width: initial;
    }
  }
}

.hide-image-how-we-work {
  @include tablet {
    display: none;
  }
}

.image-wrapper-top {
  left: 0;
  top: 0;

  @include mobile {
    order: -1;
    margin-right: 20px;
    object-fit: cover;
  }
}

.image-wrapper-bot {
  right: 0;
  top: -60px;

  @include mobile {
    margin-left: 20px;
    // object-fit: cover;
  }
}


.bg-beige .how-we-work__text {
  max-width: 452px;
  margin-top: 70px;

  @include mobile {
    max-width: 170px;
    margin-top: 0;
  }
}