.obi-item-1 {
  height: 770px;

  background-image: url("./../../img/obi/pic-01.png");
  @include mediaBg() {
    background-image: url("./../../img/obi/pic-01@2x.png");
  }

  @include tablet {
    width: 768px !important;
    height: 569px;
  }

  @include mobile {
    width: 370px !important;
    height: 285px;
  }

  @include mobile-serpuxov-xs {
    width: 150px !important;
    height: 186px;
  }

}
.obi-item-2 {
  height: 770px;

  background-image: url("./../../img/obi/pic-02.png");
  @include mediaBg() {
    background-image: url("./../../img/obi/pic-02@2x.png");
  }

  @include tablet {
    width: 768px !important;
    height: 569px;
  }

  @include mobile {
    width: 370px !important;
    height: 285px;
  }

  @include mobile-serpuxov-xs {
    width: 150px !important;
    height: 186px;
  }
}
.obi-item-3 {
  height: 770px;

  background-image: url("./../../img/obi/pic-03.png");
  @include mediaBg() {
    background-image: url("./../../img/obi/pic-03@2x.png");
  }

  @include tablet {
    width: 768px !important;
    height: 569px;
  }

  @include mobile {
    width: 370px !important;
    height: 285px;
  }

  @include mobile-serpuxov-xs {
    width: 150px !important;
    height: 186px;
  }

}