.serpuxov-row-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 34px;

  @include tablet {
    align-items: center;

    & > .serpuxov-main-row:nth-child(2) {
      order: -1;
    }
  }
}

.serpuxov-hard-block {
  @include tablet {
    display: none !important;
  }
}

.serpuxov-hard-block--tablet {
  display: none !important;

  @include tablet {
    display: flex !important;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 0 !important;
  }
}

.serpuxov-main-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;

  @include tablet {
    column-gap: 10px;
  }

  @include mobile {
    column-gap: 6px;
    margin-bottom: 5px;
  }

  &__left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.serpuxov-bg-image-handler {
  width: 100%;
  background-position: center center; /* x y */
  background-size: cover;
  background-repeat: no-repeat;
}
