.naves-tablet-row {
  display: none !important;

  @include tablet {
    display: flex !important;
  }
}

.naves-row-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 34px;

  @include tablet {
    align-items: center;
  }
}

.naves-main-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;

  @include tablet {
    column-gap: 13px;
  }
}

.naves-bg-image-handler {
  width: 100%;
  background-position: center center; /* x y */
  background-size: cover;
  background-repeat: no-repeat;
}