.ledoviy-item-1 {
  height: 770px;

  background-image: url("./../../img/ledoviy/pic-01.png");
  @include mediaBg() {
    background-image: url("./../../img/ledoviy/pic-01@2x.png");
  }

  @include tablet {
    width: 768px !important;
    height: 569px;
  }
  @include mobile {
    width: 380px !important;
    height: 285px;
  }
  @include mobile-serpuxov-xs {
    width: 313px !important;
    height: 231px;
  }

}
.ledoviy-item-2 {
  height: 770px;

  background-image: url("./../../img/ledoviy/pic-02.png");
  @include mediaBg() {
    background-image: url("./../../img/ledoviy/pic-02@2x.png");
  }

  @include tablet {
    width: 768px !important;
    height: 569px;
  }

  @include mobile {
    width: 380px !important;
    height: 285px;
  }

  @include mobile-serpuxov-xs {
    width: 313px !important;
    height: 231px;
  }
}
.ledoviy-item-3 {
  height: 770px;

  background-image: url("./../../img/ledoviy/pic-03.png");
  @include mediaBg() {
    background-image: url("./../../img/ledoviy/pic-03@2x.png");
  }
  @include tablet {
    width: 768px !important;
    height: 569px;
  }
  @include mobile {
    width: 380px !important;
    height: 285px;
  }
  @include mobile-serpuxov-xs {
    width: 313px !important;
    height: 231px;
  }

}
.ledoviy-item-4 {
  width: 562px !important;
  height: 843px;

  background-image: url("./../../img/ledoviy/pic-04.png");
  @include mediaBg() {
    background-image: url("./../../img/ledoviy/pic-04@2x.png");
  }

  @include tablet {
    width: 380px !important;
    height: 514px;
  }

  @include mobile {
    width: 184px !important;
    height: 249px;
  }

  @include mobile-serpuxov-xs {
    width: 150px !important;
    height: 186px;
  }
}
.ledoviy-item-5 {
  width: 562px !important;
  height: 843px;

  background-image: url("./../../img/ledoviy/pic-05.png");
  @include mediaBg() {
    background-image: url("./../../img/ledoviy/pic-05@2x.png");
  }

  @include tablet {
    width: 380px !important;
    height: 514px;
  }

  @include mobile {
    width: 184px !important;
    height: 249px;
  }

  @include mobile-serpuxov-xs {
    width: 150px !important;
    height: 186px;
  }
}