.uslugi-top-block {
  margin: 42px auto 124px;
  width: 771px;
  display: flex;
  justify-content: space-between;

  @include mobile {
    justify-content: center;
    width: 100%;
  }

  &__info {
    padding: 25px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 100px;

    @include tablet {
      padding-right: 0;
      column-gap: 80px;
    }

    @include mobile {
      flex-direction: column;
      row-gap: 24px;
    }
  }

  &::before {
    content: "";
    display: block;
    width: 50px;
    height: 50px;
    border-bottom: 1px solid #463e38;
    border-left: 1px solid #463e38;
    align-self: flex-end;
  }

  &::after {
    content: "";
    display: block;
    width: 50px;
    height: 50px;
    border-top: 1px solid #463e38;
    border-right: 1px solid #463e38;
    align-self: flex-start;
  }

  &__title {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 60px;
    line-height: 122%;
    text-align: center;
    color: var(--korichnevyy);

    @include tablet {
      font-size: 44px;
    }

    @include mobile {
      font-size: 30px;
    }
  }

  &__desc {
    font-family: var(--font-main);
    font-weight: 400;
    font-size: 16px;
    color: var(--korichnevyy);
    @include tablet {
      text-wrap: wrap;
    }

    @include mobile {
      font-size: 14px;
      text-align: center;
    }
  }
}

.uslugi-mobile-wrapper {
  display: none;
  @include mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
  }
}

.uslugi-mobile-card {
  width: 382px;
  height: 100%;
  background-color: #463e38;
  position: relative;

  @include mobile-uslugi-xs {
    width: 100%;
  }

  &__text {
    position: absolute;
    bottom: 21px;
    left: 28px;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 22px;
    line-height: 108%;
    color: #fff;

    @include mobile {
      // transform: translateX(-50%);
      text-align: left;
      left: 20px;
      z-index: 2;
    }
  }
}

.uslugi-bg-shadow {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(70, 62, 56, 0.35) 0%,
    rgba(70, 62, 56, 0.35) 100%
  );
}

.uslugi-main {
  display: flex;
  flex-direction: column;
  row-gap: 76px;
}

.uslugi-holder {
  display: flex;
  flex-direction: column;
  row-gap: 76px;

  @include mobile {
    display: none;
  }
}

.uslugi-even-row .uslugi-img-desktop {
  @include semi-desktop {
    width: 49%;
  }
}

.uslugi-even-row {
  position: relative;

  @include tablet {
    & > .container-right-60 {
      max-width: 85%;
    }
  }

  @include semi-desktop {
    & > .container-right-60 {
      max-width: 85%;
    }
  }

  &__img {
    position: absolute;
    left: 0;
    z-index: 2;
    top: 50%;
    transform: translateY(-50%);
  }
}

.uslugi-text-block-wrapper-right {
  height: 801px;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  @include tablet {
    justify-content: flex-start;
    padding-left: 200px;
  }
}

.uslugi-row {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include tablet {
    justify-content: flex-end;
    column-gap: 30px;
  }
}

.uslugi-text-block {
  width: 575px;

  @include tablet {
    max-width: 324px;
  }

  &__title {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 44px;
    color: var(--korichnevyy);
    margin-bottom: 50px;

    @include tablet {
      font-size: 30px;
    }
  }

  &__desc {
    font-family: var(--font-main);
    font-weight: 400;
    font-size: 20px;
    line-height: 125%;
    color: var(--korichnevyy);
    margin-bottom: 57px;

    @include tablet {
      font-size: 16px;
    }
  }

  &__list {
    padding-left: 18px;
  }
}

.uslugi-list-item {
  font-family: var(--font-main);
  font-weight: 400;
  font-size: 20px;
  line-height: 125%;
  color: var(--korichnevyy);
  list-style-type: disc;

  @include tablet {
    font-size: 16px;
  }
}

.bg-test {
  background-color: plum;
}

.uslugi-you-can {
  margin-bottom: 95px;
}

.you-can-cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 38px;
  row-gap: 28px;

  @include tablet {
    max-width: 844px;
    margin: 0 auto;
  }

  @include mobile {
    flex-direction: column;
    align-items: center;
  }
}

.you-can-card {
  position: relative;
  width: 365px;
  height: 239px;
  display: flex;
  align-items: flex-end;
  padding: 29px 18px;
  background: var(--bezhevyy);

  @include tablet {
    width: 194px;
    height: 127px;
    padding: 14px 18px;
  }

  @include mobile {
    width: 100%;
  }


  &__title {
    font-family: var(--font-main);
    font-weight: 400;
    font-size: 20px;
    line-height: 125%;
    color: var(--korichnevyy);

    @include tablet {
      font-size: 16px;
    }
  }
}

.you-can-absolute-block {
  position: absolute;
  top: 21px;
  right: 19px;
  border: 1px solid var(--korichnevyy);
  width: 360px;
  height: 233px;

  @include tablet {
    width: 191px;
    height: 124px;
    top: 10px;
    right: 10px;
  }

  @include mobile {
    width: 100%;
  }
}

.you-can-card-article {
  width: 365px;
  height: 239px;
  display: flex;
  align-items: flex-end;
  padding: 29px 18px;

  @include tablet {
    height: 100%;
    // padding: 0;
    width: 194px;
    height: 127px;
    padding: 14px 18px;
  }

  &__title {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 44px;
    color: var(--korichnevyy);

    @include tablet {
      font-size: 30px;
    }
  }
}

.uslugi-bottom-bg-block {
  height: 552px;
  background-color: #999;
  background-position: center center; /* x y */
  background-size: cover;
  background-repeat: no-repeat;

  background-image: url("./../../img/footer-bg/bg-footer-02.png");
  @include mediaBg() {
    background-image: url("./../../img/footer-bg/bg-footer-02@2x.png");
  }

  @include mobile {
    width: 100%;
    height: 301px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    padding-left: 40px;
    padding-bottom: 40px;
  }
}

.uslugi-img-desktop {
  @include tablet {
    display: none;
  }
}

.uslugi-img-tablet {
  display: none;
  @include tablet {
    display: block;
  }
}
