.office-tablet-row {
  display: none !important;

  @include tablet {
    display: flex !important;
  }
}

.rus-vyzov-video {
  width: 656px !important;
  height: 1066px;

  @include tablet {
    width: 378px !important;
    height: 511px;
  }
  @include mobile {
    width: 184px !important;
    height: 249px;
  }
  @include mobile-serpuxov-xs {
    width: 150px !important;
    height: 186px;
  }
}

.rus-vyzov-row-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 34px;

  @include tablet {
    align-items: center;

    & > .office-main-row:nth-child(1) {
      order: 0;
    }

    & > .office-main-row:nth-child(2) {
      order: 1;
    }

    & > .office-main-row:nth-child(3) {
      order: 3;
    }

    & > .office-main-row:nth-child(4) {
      order: 2;
    }

    & > .office-main-row:nth-child(5) {
      @include tablet {
        display: none;
      }
    }

    & > .office-main-row:nth-child(6) {
      order: 6;
    }

    & > .office-main-row:nth-child(7) {
      order: 7;
    }

    & > .office-main-row:nth-child(8) {
      order: 8;
    }
  }
}

.office-hard-block--tablet {
  display: none !important;

  @include tablet {
    display: flex !important;
    flex-direction: column;
    justify-content: space-between;
  }
}

.rus-vyzov-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;

  @include tablet {
    column-gap: 13px;
  }

  &__left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.office-bg-image-handler {
  width: 100%;
  background-position: center center; /* x y */
  background-size: cover;
  background-repeat: no-repeat;
}